@import '~node_modules/modern-normalize/modern-normalize.css';

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 25px 0 25px 0;

    background: #6434e8;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.search-form input {
    width: 240px;
    height: 40px;
    padding: 10px;
    margin: 0;

    font-size: 16px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-form_btn {
    height: 40px;
    margin: 0;
    font-size: 16px;

    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2e1081;
        color: #ffffff;
        cursor: pointer;
    }
}

.gallery {
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img {
    max-width: 100%;
    display: block;
    height: auto;
}

.photo-card {
    width: calc(100% / 4 - 30px);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
}

.info {
    display: flex;
    justify-content: space-between;
    
    padding: 5px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.load-more {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);

    font-size: 16px;
    
    border: none;
    outline: none;
    border-radius: 5px;

    background-color: #6434e8;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2e1081;
        cursor: pointer;
    }
}